---
import "../../../styles/global.css";
import "@fontsource/space-grotesk/400.css"; 
import "@fontsource/space-grotesk/700.css"; 
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";

import Header from "./../Header";
import Footer from "./../Footer";
const {
  title = "Default Site Title",
  description = "Default description for SEO",
  image = "/default-og.png",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>
